menuconfig FSL_DPA
	bool "Freescale DPAA support"
	depends on FSL_SOC
	default n
	help
		FSL Data-Path Acceleration Architecture drivers

		These are not the actual Ethernet driver(s)

if FSL_DPA

config FSL_DPA_CHECKING
	bool "additional driver checking"
	help
		Compiles in additional checks to sanity-check the drivers and
		any use of it by other code. Not recommended for performance

config FSL_BMAN
        bool "BMan Configuration Driver"
        default n
        help
                This driver initalizes the global setting for the Buffer Manager

                If this linux image is running natively, you need this option.
                If this linux image is running as a guest OS under the
                hypervisor, only one guest OS ("the control plane") needs this
                option.

config FSL_BMAN_PORTAL
        bool "BMan Portal Support"
        default n
        help
                FSL BMan portal driver.  This driver enables Buffer
                Manager Portal access

config FSL_BMAN_DEBUGFS
        tristate "BMan debugfs support"
        depends on DEBUG_FS
        depends on FSL_BMAN
        default n
        help
                BMan debugfs support


endif # FSL_DPA
